<div>
    <hr>
    <div>
        <p style="font-size: 13px;"><i>If you found this article helpful, consider supporting my work. Every little bit helps!</i></p>
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="business" value="PECDH38VFPUDC" />
            <input type="hidden" name="no_recurring" value="0" />
            <input type="hidden" name="item_name" value="Your support means a lot to me. Thank you for appreciating my work!" />
            <input type="hidden" name="currency_code" value="EUR" />
            <button type="submit" style="background-color: #FFC439; border: none; border-radius: 4px; padding: 8px 16px; display: flex; align-items: center; cursor: pointer;">
                <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_100x26.png" alt="PayPal Logo" style="height: 18px; margin-right: 8px;">
                <span style="font-weight: bold; color: #253B80;">Donate</span>
            </button>
            <img alt="" src="https://www.paypal.com/en_IT/i/scr/pixel.gif" width="1" height="1" />
        </form>
    </div>
</div>