a:visited {
    color: #00992c;
}
a {
    color: #00992c;
}
a:hover {
    color:red
}

/* Fix header overlap */
.site-header {
    z-index: 1000; 
}

img {
    max-width: 100%;
    height: auto;
}

.page-content {
    padding-top: 100px;
}
