a:visited {
    color: #00992c;
}
a {
    color: #00992c;
}
a:hover {
    color: cadetblue;
}

/* Fix header overlap */
.site-header {
    z-index: 1000;
    background-color: whitesmoke;
}

.site-title {
    color: black !important;
}
.site-title:hover {
    color: cadetblue !important;
}
.post-category {
    color: black !important;
}
.nav-item {
    color: green !important;
}
.nav-item:hover {
    color: cadetblue !important;
}

img {
    max-width: 100%;
    height: auto;
}

body{
    background-color: whitesmoke;
}